body{
    text-align:center;
    background-color:gainsboro;
    font-family: 'Roboto', sans-serif;
}
#tribute-info{
    text-align:left;
    margin:auto;
    width: 17%;
}
#img-caption{
    font-family: 'Beth Ellen', cursive;
}
#main{
    background-color:gainsboro;
}

#image{
width:40%;
height: auto
}
#img-div{
    background-color: whitesmoke;
    margin:70px 300px 70px 300px;
    padding-top: 20px; 
}